SelectColumnsDialog {
    align: center middle;

    & > Vertical {
        border: solid $primary;
        width: 80%;
        height: 80%;

        & SelectionList {
            height: 1fr;    
        }

        & Button {
            margin-left: 1;
        }
    }
}